

.FIT{
  	background-position: center;
    border-radius: 10px;
}

.IMAGEM{
    background-image: url(../Project01Site/imagens/W.jpg);  
    background-position: center center; 
    background-repeat: no-repeat; 
    background-size: contain;
}

.iconLR{
    width: 8%;
    height: 8%;
    display: flex;
    float: left;
}

hr.LR{
    border-top: 2px solid #116A90;
}

.tpl{
    margin-top: 2%;
    width: 90%;
    color: black;
    display: block;
    border: 2px solid;
    padding-right: 10%;
}